# Archivos compilados de Java (comunes)
*.class
*.war
*.ear
/dist/
/build/
*.jar

# NetBeans (nbproject es crítico)
nbproject/
nbproject/private/
build/
dist/
nbactions.xml
nb-configuration.xml

# Sistema y temporales
.DS_Store
Thumbs.dbo
